[Unit]
Description=Runs remote backup

[Service]
Type=oneshot
ExecStart=/usr/bin/flock /run/lock/backup.lock /usr/local/bin/upload-backup
RemainAfterExit=true
RestartSec=3600
Restart=on-failure
